<h1><%= @movie.comments.id ? 'Edit comment' : 'Create comment' %></h1>
<%= form_with(model: [@movie, @comment], local: true, class: 'ui form') do |f| %>
  <div class='field'>
  <%= f.label :body %>
  <%= f.text_field :body, required: true %>
  </div>

  <%= f.submit nil, class: 'ui button' %>
<% end %>
